.App {
  text-align: center;
}

/* Colors: https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

.mainPageBody {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.mainPageContent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: clamp(30vh,30vh,30vh);
    width: clamp(20vw,20vw,20vw);
    background-color: #0096C7;
    transition: background-color 0.3s, font-size 0.3s;
    box-shadow: rgba(202, 240, 248, 0.24) 0px 3px 8px;
}

    .mainPageContent:hover {
        background-color: #90E0EF;
        font-size: 1.4em;
        cursor: pointer;
    }

    .mainPageContent > a {
        color: #023E8A;
        text-decoration: none;
        font-size: 1.5em;
    }

.mainPageWrapper {
    height: 80%;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------- PAGER --------------------------------------------------------- */

.paginationWrapper 
{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
}

.paginationNumberBlock {
    background-color: #0096C7;
    transition: background-color 0.3s;
    width: 5%;
    height: 30%;
    border-radius: 5px;
    color: #023E8A;
    display: flex;
    justify-content:center;
    align-items: center;
}

    .paginationNumberBlock:hover {
        background-color: aliceblue;
        cursor: pointer;
        background-color: #90E0EF;
    }

.currentPaginationElement
{
    height: 80%;
    width: 100%;
}

.pager
{
    height: 50vh;
    width: 40vw;
    background-color: white;
}


/*--------------------------------------- PAGER END ------------------------------------------------------ */

/*--------------------------------------- CHART START ------------------------------------------------------ */

.ChartPageWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chartWrapper
{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 50vw;
    background-color: white;
}

.chartYAxis
{
    height: 100%;
    width: 10%;
    border-right: 1px solid black;
}

.chartXAxis
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.chartXAxisGraph {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
}

.chartXAxisLine {
    height: 10%;
    width: 100%;
    border-top: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.4em;
}

.XAxisLine
{
    background-color: blue;
    align-self: flex-end;
}

.chartYAxisNumbers
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 95%;
    margin-right: 10px;
}

/*--------------------------------------- CHART END ------------------------------------------------------ */

/*--------------------------------------- FormMaker START ------------------------------------------------------ */

.FormMakerPageWrapper
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormMaker {
    padding: 15px;
    height: auto;
    width: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.FormMakerRow
{
    display: flex;
    flex-flow: row;
    width: 100%;
}

.FormMaker > h1 {
    margin-left: 10%;
}

.rowIcon {
    width: 10%;
    height: 1.3em;
    background-size: contain;
    background-repeat: no-repeat;
}

.rowInput
{
    width: 85%;
    margin-bottom: 20px;
}

.FormMakerSubmit
{
    margin-left: 10%;
}
/*--------------------------------------- FormMaker END ------------------------------------------------------ */

/*--------------------------------------- Calendar START ------------------------------------------------------ */

.calendarWrapper 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.calendarBody 
{
    display: flex;
    flex-flow: column;
    background-color: white;
    height: 70vh;
    width: 70vw;
}

.calendarHeader 
{
    width: 100%;
    height: 10%;
    font-size: clamp(1em,2em,3em);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendarGrid 
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

    .calendarGrid > * {
        flex: 1 1 14%;
        background-color: grey;
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: clamp(1em,2.5em,4em);
        border: 1px solid black;
        transition: background-color 0.3s;
    }

    .calendarGrid > *:hover
    {
        cursor:pointer;
        background-color: blue;
    }

.goBackBtnCalendar, .goForwardBtnCalendar {
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-position: center;
    background-size: 75%;
}

.goBackBtnCalendar {
    background-image: url("Icons/arrow_back.svg");
}

.goForwardBtnCalendar {
    background-image: url("Icons/arrow_forward.svg");
}

.goForwardBtnCalendar:hover
{
    cursor: pointer;
}

    .goBackBtnCalendar:hover {
        cursor: pointer;
    }

.currentDate
{
    width: 20%;
}
/*--------------------------------------- Calendar  END ------------------------------------------------------ */