.App {
  text-align: center;
}

/* Colors: https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

.mainPageBody {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.mainPageContent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: clamp(30vh,30vh,30vh);
    width: clamp(20vw,20vw,20vw);
    background-color: #0096C7;
    transition: background-color 0.3s, font-size 0.3s;
    color: #023E8A;
    box-shadow: rgba(202, 240, 248, 0.24) 0px 3px 8px;
}

    .mainPageContent:hover {
        background-color: #90E0EF;
        font-size: 1.4em;
        cursor: pointer;
    }